<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Qing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>605D51AA1BF3A53E0071BC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605D51C61BF3A53E0071BC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605D51D11BF3A53E0071BC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
